.apt_generated
.classpath
.project
.factorypath
.settings
.DS_Store
.gradle
.externalToolBuilders
.idea
.nb-gradle
.svn
.vscode
bin
out
#*#
*~
*.iml
Distribution
build
eclipseBuild
node_modules
npm-debug.log
mylocal
target
ear
dist
logs
venv
generated