[Unit]
Description=Jacs Storage Agent Service
After=jacsstorage-masterweb

[Service]
Type=simple
User=jacs
ExecStart=/bin/sh ${jacs.runtime.env.installDir}/bin/run-service.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
