[Unit]
Description=Jacs Storage Agent Service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=jacs
ExecStart=/bin/sh ${jacs.runtime.env.installDir}/bin/run-service.sh
Restart=always

[Install]
WantedBy=multi-user.target
