[Unit]
Description=Jacs Storage Master Service
After=network.target

[Service]
Type=simple
User=jacs
ExecStart=/bin/sh ${jacs.runtime.env.installDir}/bin/run-service.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
